button {
    width: 100%
}

input[type="email"], input[type="password"]{
    width:100%
}


.forgot-password {
    float: right;
    font-size: 14px;
 }

.register{
    font-size: 14px
}

h2 {
    font-size: 18px;
    padding: 5px;
}